.modal {
  position: fixed;
  bottom: 0;
  left: 0px;
  z-index: 10;
  padding-top: 14px;
  background: #F9F9F9;
  box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 34px 34px 0px 0px;
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
}
  
.modal h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #222222;
  margin-top: 16px;
  margin-bottom: 33px;
}

.line {
width: 60px;
height: 6px;
background: #9B9B9B;
border-radius: 3px;
margin-left: auto;
margin-right: auto;
}

.modal-list {
  display: grid;
  padding: 0;
}

.modal-list li {
  display: grid;
  align-items: center;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
}

.modal-list li:hover {
  background-color: #DB3022;
  color: white;
}


/* whats-your-rate */

.yourRateModal{
  padding: 16px
}

.header{
  padding-bottom:0px;
  margin-bottom: 0px
}

.starRow{
  width:276px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 24px;
  padding: 0px 40px 35px 
}

.inactiveOneStar{
  width: 36px
}

.shareopinion{
  display:grid;
  grid-template-rows: 22px 22px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  line-height: 22px;
}

.textarea{
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width:343px;
  height: 154px;
  margin: 18px 0px 39px 0px;
  padding: 12px 9px 22px 20px;
  color: var(--secondary-color);
  font-size: var(--caption-font-size);
}

.addPhotoSection{
  width: 104px;
  height: 104px;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding-top: 15px
}

.circle{
  width:52px;
  height: 52px;
  display: grid;
  background: var(--primary-color);
  margin:0px 26px 15px;
  border-radius: 50%;
  justify-items: center;
  align-content: center;
}

.cameraIcon{
  width:35px;
  height: 30px;

}

.text{
  color: var(--body-color);
  padding: 0px 0px 20px 6px;
  line-height: 8px;
}

.sendReviewBlock{
  margin: 44px 0px
}

.sendRevievBtn{
  width:343px;
  height: 48px;
  background: #DB3022;
  box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
  border-radius: 25px;
  color: var(--bg-color);
  line-height: 20;
}