.navbar {
  background-color: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  height: 83px;
  display: grid;
  padding: 8px 27px 31px;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
}

.navbar-btn {
  display: block;
  background-color: #FFFFFF;
}

.navbar-btn p {
  margin: 0;
  margin-top: 8px;
}